<h2>Stylist Edit Portfolio Portal</h2>

<form action="/portfolios/<%= portfolio.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">

    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" name="name" value= "<%=portfolio.name %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Salon Name</label>
      <div class="control">
        <input class="input" type="text" name="salon" value= "<%=portfolio.salon %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="text" name="email" value= "<%=portfolio.email %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Address</label>
      <div class="control">
        <input class="input" type="text" name="address" value= "<%=portfolio.address %>">
      </div>
    <div class="field">
      <label class="label">Tel</label>
      <div class="control">
        <input class="input" type="number" name="tel" value= "<%=portfolio.tel %>">
    </div>
    </div>
    <div class="field">
      <label class="label">About</label>
      <div class="control">
        <input class="input" type="text" name="about" value= "<%=portfolio.about %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Stylist Price Range</label>
      <div class="control">
        <input class="input" type="text" name="price" value= "<%=portfolio.price %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Images</label>
      <div class="control">
        <input class="input" type="text" name="url" value= "<%=portfolio.url %>">
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
      <div class="control">
        <button class="button is-text">Cancel</button>
      </div>
    </div>
</form>
