<h2>Stylist Portfolio</h2>

<div class="columns is-multiline">
      <% portfolios.forEach((portfolio) => { %>
        <div class=" column is-one-third-desktop is-half-tablet">
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is- 3by4">
                  <a href= '/portfolios/<%= portfolio.id %>'>
                  <img style="max-width: 500px " src='<%= portfolio.url %>' alt='<%= portfolio.name %>' />
                  </a>
                </figure>
                  <div class="media-name">
                    <p class="title is-4"><%= portfolio.name %>
                    <p class="subtitle is-6">Salon: <%= portfolio.salon %>
                  </div>
                  <div class="media-contact">
                    <div class="content"><%= portfolio.address %>
                    <div class="content"><%= portfolio.tel %>
                    <div class="content"><%= portfolio.email %>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>

</div>
