
<div class="container">
  <h2 class="stylistHeadline">Meet the stylists</h2>
  <div class="columns is-multiline is-desktop is-tablet is-mobile">
    <% portfolios.forEach((portfolio) => { %>
      <div class="column is-one-quarter-desktop is-one-third-tablet is-half-mobile">
        <div class="card">
          <div class="card-image">
          <figure class="image is- 4by3">
          <div class="img__wrap">
            <a href= '/portfolios/<%= portfolio.id %>'>
            <img style="max-width: 500px " src='<%= portfolio.url %>' alt='<%= portfolio.name %>' />
            <p class="img__description">See <%= portfolio.name %> Profile</p>
            </a>
          </div>
            </figure>
            <div class="media-name">
              <p class="title is-6"><%= portfolio.name %>
            </div>
            <div class="media-info">
              <p class="title is-6"><%= portfolio.occupation %>
              <p class="subtitle is-6">✄: <%= portfolio.salon %>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
