<div class= "container-portfolioshow">
  <div class="columns is-multiline">
    <div class="column">
      <p class="image is-2by4">
      <img src='<%= portfolio.url %>' alt='<%= portfolio.title %>'>
        <div class="container-description">
          <h4 class="aboutstylist">A bit about <%= portfolio.name %>:</h3>
            <ul>
              <li><strong>Name: </strong> <%= portfolio.name %> </li>
              <li><strong>Stylist price from: </strong> <%= portfolio.price %> </li>
              <li><strong>About the stylist: </strong> <%= portfolio.about %> </li>
            </ul>
        </div>
        <div class="container-userProfile">
            <ul>
              <% if(locals.isLoggedIn){%>
                <% if ((locals.currentUser.email === portfolio.email)){%>
                  <p>User Admin Controls:</p>
                  <form action="/portfolios/<%= portfolio.id %>" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <button name="button">Delete Profile</button>
                  <a href="/portfolios/<%= portfolio.id %>/edit">Edit your portfolio information</a>
                  </form>
                <% } %>
              <% } %>
            </ul>
        </div>
    </div>
    <div class="column">
      <h4 class="aboutsalon"><%= portfolio.salon %> Salon:</h4>
      <ul>
        <li><strong>tel: </strong> <%= portfolio.tel %> </li>
        <li><strong>email:</strong> <%= portfolio.email %> </li>
        <li><strong>Address:</strong> <%= portfolio.address %> </li>
      </ul>
      <br>
      <div id="map" data-lat="<%= portfolio.lat %>" data-long="<%= portfolio.lng %>"></div>
    </div>
  </div>
</div>
  <hr>
    <div class="container-smallImg">
      <h1 class="title">Portfolio</h1>
      <div class="container-userProfile">
        <ul>
          <% if(locals.isLoggedIn){%>
            <% if ((locals.currentUser.email === portfolio.email)){%>
              <form>
              <a href="/pictures/new">Add a picture</a><br>
              </form>
            <% } %>
          <% } %>
        </ul>
      </div>
      <div class="carousel-portfolio" data-flickity='{ "cellAlign": "left", "autoPlay": false, "wrapAround": true }'>
        <% pictures.forEach( picture =>{ %>
           <div class="carousel-cell">
          <% if ((portfolio.creator.toString() === picture.creator.toString())){%>
              <a href='/pictures/<%= picture.id %>'>
                <img src='<%= picture.url %>' alt='<%= picture.title %>' />
              </a>
          <% } %>
          </div>
        <% }) %>
      </div>
    </div>
    <hr>
    <div class="container-comments">
      <p>Post a comment about <%= portfolio.name %></p>
        <form class="sectionComments" action="/portfolios/<%= portfolio.id %>/comment" method="post">
          <textarea name="content" rows="8" cols="40"></textarea>
          <button name="button">Post comment</button>
        </form>
        <article class="media-content">
          <div = class="content">
            <% portfolio.comments.forEach((comment) => { %>
              <div class="comment"><%= comment.content %>
                <form class="" action="/portfolios/<%= portfolio.id %>/comment/<%= comment.id%>" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <button name="button">Delete comment</button>
                </form>
              </div>
              <% }) %>
            </div>
          </article>
      </div>
  </div>
