<div class= "container portfolio">
  <div class="columns">
    <div class="column is-half">
      <img src='<%= portfolio.url %>' alt='<%= portfolio.title %>'>
    </div>
    <div class="column is-half">

      <ul>
        <li><strong>Name: </strong> <%= portfolio.name %> </li>
        <li><strong>Stylist price from:</strong> <%= portfolio.price %> </li>
        <li><strong>About the stylist:</strong> <%= portfolio.about %> </li>
      </ul>

      <% if(locals.isLoggedIn){%>
        <% if ((locals.currentUser.email === portfolio.creator.email)){%>
        <a href="/portfolios/<%= portfolio.id %>/edit">Edit</a>
        <form action="/portfolios/<%= portfolio.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button name="button">Delete Profile</button>
        </form>
        <% } %>
      <% } %>


      <form class="" action="/portfolios/<%= portfolio.id %>/comment" method="post">
        <textarea name="content" rows="8" cols="80"></textarea>
        <button name="button">Post comment</button>
      </form>

      <article class="media-content">
        <div = class="content">
          <% portfolio.comments.forEach((comment) => { %>
            <div class="comment"><%= comment.content %>
            <form class="" action="/portfolios/<%= portfolio.id %>/comment/<%= comment.id%>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button name="button">Delete comment</button>
            </form>
            </div>
          <% }) %>
        </div>
      </article>

    </div>
  </div>
</div>


<a href="/pictures/new">Add a picture</a>
