<div class= "container-portfolioshow">
  <div class="columns is-multiline">
    <div class="column is-half">
      <img src='<%= portfolio.url %>' alt='<%= portfolio.title %>'>
      <section class="section">
        <div class="container-description">
          <h4 class="aboutstylist">A bit about <%= portfolio.name %>:</h3>
            <ul>
              <li><strong>Name: </strong> <%= portfolio.name %> </li>
              <li><strong>Stylist price from: </strong> <%= portfolio.price %> </li>
              <li><strong>About the stylist: </strong> <%= portfolio.about %> </li>
            </ul>
          </div>
        </section>
        <section class="section">
          <div class="container-userProfile">
            <ul>
              <% if(locals.isLoggedIn){%>
                <% if ((locals.currentUser.email === portfolio.email)){%>
                  <form>
                  <p>User Admin Controls:</p>
                  <a href="/portfolios/<%= portfolio.id %>/edit">Edit your portfolio information</a>
                  <form action="/portfolios/<%= portfolio.id %>" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <button name="button">Delete Profile</button>
                  </form>
                <% } %>
              <% } %>
            </ul>
          </div>
        </section>
      </div>
    <div class="column is-half">
      <section class="section">
        <div class="column">
          <h4 class="aboutsalon"><%= portfolio.salon %> Salon:</h4>
          <ul>
            <li><strong>tel: </strong> <%= portfolio.tel %> </li>
            <li><strong>email:</strong> <%= portfolio.email %> </li>
            <li><strong>Address:</strong> <%= portfolio.address %> </li>
          </ul>
          <h4 class="visit-map"><strong>Visit Salon:</strong></h3>
          <div id="map"></div>
        </div>
      </section>
    </div>
  </div>
  <hr>
  <section class="section">
    <div class="container-smallImg">
      <h1 class="title">Portfolio</h1>
      <div class="container-userProfile">
        <ul>
          <% if(locals.isLoggedIn){%>
            <% if ((locals.currentUser.email === portfolio.email)){%>
              <form>
              <a href="/pictures/new">Add a picture</a><br>
              </form>
            <% } %>
          <% } %>
        </ul>
      </div>
      <div class="carousel-portfolio" data-flickity='{ "cellAlign": "left", "autoPlay": true, "wrapAround": true }'>
        <% pictures.forEach( picture =>{ %>
           <div class="carousel-cell">
          <% if ((portfolio.creator.toString() === picture.creator.toString())){%>
              <a href='/pictures/<%= picture.id %>'>
                <img src='<%= picture.url %>' alt='<%= picture.title %>' />
              </a>
              <div class="background-black-grunge">
              <ul>
                <% if(locals.isLoggedIn){%>
                  <% if ((locals.currentUser.email === portfolio.email)){%>
                    <form>
                    <a href="/pictures/<%= picture.id %>/edit">Edit</a>
                    <form action="/pictures/<%= picture.id %>" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <a class="delete">Delete Profile</a>
                    </form>
                  <% } %>
                <% } %>
              </ul>
              </div>
          <% } %>
          </div>
        <% }) %>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <p>Post a new comment</p>
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="e.g Alex Smith">
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
          </div>
        </div>
        <form class="sectionComments" action="/portfolios/<%= portfolio.id %>/comment" method="post">
          <textarea name="content" rows="8" cols="80"></textarea>
          <button name="button">Post comment</button>
        </form>
        <article class="media-content">
          <div = class="content">
            <% portfolio.comments.forEach((comment) => { %>
              <div class="comment"><%= comment.content %>
              <form class="" action="/portfolios/<%= portfolio.id %>/comment/<%= comment.id%>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button name="button">Delete comment</button>
              </form>
              </div>
              <% }) %>
            </div>
          </article>
      </div>
    </section>
  </div>
