<form action="/pictures/<%= picture.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <div class="field">
      <label class="label">Please enter your username: </label>
      <div class="control">
        <input class="input" type="text" name="username" value= "<%=picture.username %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Salon</label>
      <div class="control">
        <input class="input" type="text" name="salon" value= "<%=picture.salon %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" type="text" name="url" value= "<%=picture.url %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Male/female</label>
      <div class="control">
        <input class="input" type="text" name="sex" value= "<%=picture.sex %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Hair Length</label>
      <div class="control">
        <input class="input" type="text" name="length" value= "<%=picture.length %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Service</label>
      <div class="control">
        <input class="input" type="text" name="service" value= "<%=picture.service %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Products</label>
      <div class="control">
        <input class="input" type="text" name="products" value= "<%=picture.products %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="text" name="email" value= "<%=picture.email %>">
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
      <div class="control">
        <button class="button is-text">Cancel</button>
      </div>
    </div>
</form>
