<section class="section-hair">
  <div class="container-hairSection">
        <div class="card-hairPage">
          <figure class="image is- 3by4">
            <img src='<%= picture.url %>' alt='<%= picture.title %>' />
            <a href="/pictures/<%= picture.id %>/edit">Edit</a>
            <form action="/pictures/<%= picture.id %>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button name="button">Delete Profile</button>
            </form>
          </figure>
        </div>
        <div class="card-media">
          <ul>
            <li><strong>Service: </strong> <%= picture.service %> </li>
            <li><strong>Products Used: </strong> <%= picture.products %> </li>
          </ul>
        </div>
      </div>
</section>
