<section class="section-admin">
  <% if(locals.isLoggedIn){ %>
    <% if ((locals.currentUser.email === picture.email)){%>
      <a href="/pictures/<%= picture.id %>/edit">Edit Page</a>
      <form action="/pictures/<%= picture.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button name="button">Delete Profile</button>
      </form>
    <% } %>
  <% } %>
</section>
<section class="section-hair">
  <div class="columns is-multiline is-desktop is-tablet is-mobile">
  <div class="container-hairSection">
    <div class="card-aboutstylistsalon">
      <ul>
        <li><strong>Stylist Username: </strong> <%= picture.username %> </li>
        <li><strong>Salon: </strong> <%= picture.salon %> </li>
      </ul>
    </div>
    <div class="card-hairPage">
      <figure class="image is- 3by4">
        <img src='<%= picture.url %>' alt='<%= picture.title %>' />
      </figure>
    </div>
    <div class="card-abouthairstyle">
      <ul>
        <li><strong>Service: </strong> <%= picture.service %> </li>
        <li><strong>Products Used: </strong> <%= picture.products %> </li>
        <li><strong>male/female: </strong> <%= picture.sex %> </li>
        <li><strong>Hair Length: </strong> <%= picture.length %> </li>
      </ul>
    </div>
  </div>
    </div>
</section>
